.row
{
    display: flex;
}

.emptyCell {
    width: 100px;
    height: 100px;
    border: 1.5px solid black;
    border-radius: 50%;
    cursor: pointer;
    margin: 15px;
    background-color: white;
}

.player1Cell {
    width: 100px;
    height: 100px;
    border: 1.5px solid black;
    border-radius: 50%;
    cursor: pointer;
    margin: 15px;
    background-color: yellow;
}

.player2Cell {
    width: 100px;
    height: 100px;
    border: 1.5px solid black;
    border-radius: 50%;
    cursor: pointer;
    margin: 15px;
    background-color: red;
}

.boardContainer {
    background-color: blue;
    border-radius: 25px;
}