@use "../../Styles/Animations/fadeIn";

:root {
    --box-width: 700px;
    --box-height: 300px;
}

.modal {
    @extend .fadeIn;
    position: fixed;
    width: var(--box-width);
    height: var(--box-height);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.content {
    margin-left: 35px;
}

.btnContainer {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    margin-top: 50px;

    button {
        margin-right: 20px;
        margin-top: -20px;
        height: 40px;
        font-size: 20px;
        cursor: pointer;
        background-color: white;
        border: 2px solid black;
    }

    .btnPrimary {
        width: 200px;
        background-color: navy;
        color: white;

        &:hover {
            transition: 0.5s;
            background-color: rgb(42, 42, 255);
        }
    }

    .btnSecondary {
        width: 150px;
    }
}

.title {
    @extend .content;
    margin-top: 50px;
    font-size: 40px;
}

.desc {
    @extend .content;
    font-size: 30px;
    margin-bottom: 50px;
}

@media screen and (max-width: 1030px) {
    :root {
        --box-width: 700px;
    }
}

@media screen and (max-width: 750px) {
    :root {
        --box-width: 500px;
    }

    .title {
        margin-top: 50px;
        font-size: 35px;
    }

    .desc {
        font-size: 25px;
        margin-bottom: 50px;
    }

    .btnContainer {
        button {
            margin-top: -10px;
        }
    }
}

@media screen and (max-width: 540px) {
    :root {
        --box-width: 300px;
        --box-height: 320px
    }

    .title {
        margin-left: 15px;
    }

    .desc {
        font-size: 20px;
        margin-left: 15px;
    }

    .btnContainer {
        margin-top: -10px;
        flex-direction: column-reverse;
        
        button {
            margin: 1px;
        }

        .btnPrimary {
            width: 100%;
            font-size: 15px;
            margin-left: 5%;
            margin-right: 5%;
        }

        .btnSecondary {
            width: 100%;
            font-size: 15px;
            margin-left: 5%;
            margin-right: 5%;
        }
    }
}