@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Fredoka+One&family=Open+Sans&family=Patua+One&family=Rokkitt&family=Secular+One&display=swap');

* {
    font-family: 'Patua One', cursive, sans-serif, Arial;
}

body {
    margin: 0;
    padding: 0;
    background: radial-gradient(circle, rgba(126,169,255,1) 13%, rgba(0,107,171,1) 96%);
}