:root {
    --log-width: 1000px;
    --log-height: 500px;
    --log-font-size: 20px;
}

.chatContainer {
    display: flex;
    flex-direction: column;

    .closeChat {
        width: 30px;
        height: 30px;
        font-size: 30px;
        align-self: flex-end;
        background-color: transparent;
        border: 0;
        margin-bottom: 10px;
        cursor: pointer;
    }

    input {
        width: 800px;
        height: 30px;
        font-size: 20px;
        border-radius: 5px;
    }

    button {
        width: 198px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 20px;
        height: 35px;
    }
}

.logContainer {
    width: var(--log-width);
    height: var(--log-height);
    overflow-wrap: break-word;
    overflow-y: auto;
    background-color: white;
    border: 1px solid black;

    .log {
        outline: 1px solid black;
        font-size: var(--log-font-size);
        margin: 5px;
        padding: 5px;
    }
}

.openChatContainer {
    margin: 20px;

    button {
        width: 200px;
        height: 50px;
        font-size: 25px;
        cursor: pointer;
        background-color: transparent;

        &:hover {
            transition: 0.5s;
            color: white;
            background-color: navy;
        }
    }
}

@media screen and (max-width: 1030px) {
    :root {
        --log-width: 600px;

    }
    .chatContainer {
        input {
            width: 480px;
        }

        button {
            width: 117px;
        }
    }
}

@media screen and (max-width: 660px) {
    :root {
        --log-width: 400px;

    }
    .chatContainer {
        input {
            width: 280px;
        }

        button {
            width: 115px;
        }
    }
}

@media screen and (max-width: 440px) {
    :root {
        --log-width: 250px;

    }
    .chatContainer {
        input {
            width: 150px;
        }

        button {
            width: 96px;
        }
    }
}
