@use "../../Styles/Animations/fadeIn";

.modal {
    @extend .fadeIn;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border-radius: 100px;
    width: 500px;
    background-color: lightskyblue;
    text-align: center;
    font-size: 15px;
}

@media screen and (max-width: 540px) {
    .modal {
        width: 300px;
    }
}