
.footer {
    display: flex;
    justify-content: flex-end;

    a {
        text-decoration: none;
    }

    .navbarButton {
        margin: 20px;
        font-size: 25px;
        border-radius: 20px;
        cursor: pointer;
        width: 150px;
    }
}