@use "../../Styles/Containers/flexCenter";

.flexContainer {
    @extend .flexContainerCenter;
    flex-direction: column;


}

.scoreContainer {
    margin: 20px;
    text-align: center;

    h1 {
        text-decoration: underline;
    }
}

.middleContainer {
    text-align: center;
    
    h1 {
        font-size: 40px;
        margin: 0;
    }

    h2 {
        font-size: 30px;
    }
}

.newGameBtnContainer {
    text-align: center;
    margin-top: 40px;

    button {
        width: 200px;
        height: 50px;
        font-size: 25px;
        cursor: pointer;
        background-color: transparent;

        &:hover {
            transition: 0.5s;
            color: white;
            background-color: navy;
        }
    }
}

@media screen and (max-width: 950px) {
    .middleContainer {
        h1 {
            font-size: 30px;
        }

        h2 {
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 820px) {
    .score {
        font-size: 20px;
        top: 40%;
    }
}

@media screen and (max-width: 420px) {
    .leftContainer, .rightContainer {
        flex-direction: row;
        background-color: red;
    }
}