@use "../../Styles/Containers/flexCenter";

.flexContainer {
    @extend .flexContainerCenter;
    flex-direction: column;
}

.container {
    text-align: center;
    
    h1 {
        font-size: 40px;
        margin: 0;
    }

    h2 {
        font-size: 30px;
    }
}