@use "../../Styles/Containers/flexCenter";

.flexContainer {
    @extend .flexContainerCenter;
    flex-direction: column;
}

.leftContainer {
    position: fixed;
    align-self: flex-start;
    top: 1%;
    left: 1%;
}

.middleContainer {
    text-align: center;
    
    h1 {
        font-size: 40px;
        margin: 0;
    }

    h2 {
        font-size: 30px;
    }
}

.rightContainer {
    position: fixed;
    align-self: flex-end;
    top: 1%;
    right: 1%;
}

.score {
    text-align: center;
}